/* RESET (tem que ficar no topo!) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background: linear-gradient(to right, #fff5e6, #fff2d6);
    text-align: center;
}

/* HEADER */
header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 2px solid #fdd4ae;
}

header h1 {
    color: #ff9d09;
}

/* NAV NORMAL */
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #555;
    font-weight: bold;
    background: none;
    padding: 0;
    box-shadow: none;
}

/* BOTÕES DO HEADER */
.buttons a {
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.login {
    border: 2px solid #ff9d09;
    color: #ff9d09;
    background: none;
}

.signup {
    background: #ff9d09;
    color: white;
}

/* TÍTULOS */
h1 {
    color: #ff9d09;
}

.h12 {
    margin-top: 20px;
}

h2 {
    margin-top: 20px;
}

/* CONTAINER */
.container {
    background: white;
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(255, 153, 1, 0.3);
}

/* TEXTOS */
p {
    margin: 10px 0;
}

/* BOTÃO APENAS DENTRO DO CONTAINER */
.container a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: linear-gradient(45deg, #ffc74d, #f7c53d);
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(255, 208, 105, 0.4);
}

.container a:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(255, 203, 105, 0.6);
}

/* LINHA */
hr {
    border: 1px solid #ec9867;
    width: 50%;
    margin: 20px auto;
}

/* FOOTER */
footer {
    background: #ff9d09;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}