* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff5f9;
}

/* HEADER */
header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 2px solid #ffd6e7;
}

header h1 {
    color: #ff9d09;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.buttons a {
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.login {
    border: 2px solid #ff9d09;
    color: #ff9d09;
}

.signup {
    background: #ff9d09;
    color: white;
}

/* HERO */
.hero {
    height: 70vh;
    background: url(https://wallpapers.com/images/hd/traveling-baby-dog-with-goggles-tpw4knu2rhp7ok3w.jpg) center/cover;
    display: flex;
    align-items: center;
    padding-left: 80px;
    color: #5c3904;
}

.hero-text {
    background: rgba(247, 227, 115, 0.7);
    padding: 30px;
    border-radius: 20px;
}

/* SOBRE */
.sobre {
    display: flex;
    padding: 60px;
    gap: 40px;
}

.texto {
    flex: 1;
}

.texto h2 {
    color: #ff9d09;
    margin-bottom: 15px;
}

.texto button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #ff9d09;
    color: white;
    border: none;
    border-radius: 20px;
}

.imagem {
    flex: 1;
    background: url(https://wallpapers.com/images/high/group-of-labrador-baby-dogs-ocqlanz7dcekwgni.webp) center/cover;
    border-radius: 20px;
}

/* DESTAQUE */
.destaque {
    position: relative;
    height: 300px;
    background: url(https://p4.wallpaperbetter.com/wallpaper/922/235/745/dog-hd-wallpaper-preview.jpg) center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(247, 227, 115, 0.7);
}

.conteudo {
    position: relative;
    text-align: center;
    color: #5c3904;
}

/* DENÚNCIA */
.denuncia {
    display: flex;
    padding: 60px;
    gap: 40px;
}

.denuncia .texto h2 {
    color: #ff9d09;
}
.botao {
    display: inline-block;
    padding: 10px 20px;
    background: #ff9d09;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}

/* FOOTER */
footer {
    background: #ff9d09;
    color: white;
    text-align: center;
    padding: 20px;
}